@model CarInsurance.Models.Insuree
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.FirstName)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.LastName)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.EmailAddress)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.DateOfBirth)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CarYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.CarYear)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CarMake, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.CarMake)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CarModel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.CarModel)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SpeedingTickets, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.SpeedingTickets)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DUI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.CheckBoxFor(m => m.DUI)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CoverageType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.CoverageType)</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quote, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.EditorFor(m => m.Quote)</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<p>@Html.ActionLink("Back to List", "Index")</p>
